################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lab01/.vs
/Lab01/WebApplication1/bin/Debug/net8.0
/Lab01/WebApplication1/obj
/Lab02/.vs
/Lab02/WebApplication1/bin/Debug/net8.0
/Lab02/WebApplication1/obj
